<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
</head>
<body>
    <h1>Task List</h1>
    <a href="{% url 'task_create' %}">Create New Task</a>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} - {{ task.priority }} - {{ task.status }}
                <a href="{% url 'task_edit' task.pk %}">Edit</a>
                <a href="{% url 'task_delete' task.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No tasks available.</li>
        {% endfor %}
    </ul>
</body>
</html>